html{
    background-color: #F9C91B;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

.main-div{
    height: auto;
    margin: 0px 300px;
    align-items: center;
    overflow: hidden;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#info{
    display: flex;
    background-color: #fff;
    padding: 0px 20px 0px 0px;
}

#image-container{
    overflow: hidden;
    display: flex;
    height: 100%;
}

.food{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

#description p{
    float: left;
    margin-left: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

#team{
    background-color: #D41343;
}

#team h1{
    color: white;
}

#horizontal-div{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#profile{
    height: auto;
    width: 200px;
    text-align: center;
    background-color: white;
    border: 4px solid #000000;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* I decided to put the css of ProfileCard.js stylesheet below */

#pfp{
    width: 200px;
    height: auto;
    border-bottom: 4px solid #000000;
    border-radius: 5px;
}