@font-face {
    font-family: "Cubao";
    src: local("Cubao"),
    url("/src/TypeFace/Cubao/Cubao_Free_Regular.otf");
    font-weight: bold;
  }

footer{
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    padding: 0px 100px;
    position: fixed;
    left: 0;
    bottom: 0;
}

h1{
    font-size: 60px;
    font-family: 'Cubao';
}