@font-face {
  font-family: "Cubao";
  src: local("Cubao"),
  url("/src/TypeFace/Cubao/Cubao_Free_Regular.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Matatas One";
  src: local("Matatas One"),
  url("/src/TypeFace/Matatas One/Matatas\ One\ Bold\ 700.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Lexend";
  src: local("Lexend"),
  url("/src/TypeFace/Lexend/static/Lexend-Medium.ttf");
  font-weight: normal;
}

html{
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Lexend";
}
ul {
  font-family: "Lexend";
}
/* SHAPES */


.Stamp {
  transform: rotate(100deg);
  width: 300px;
  height: 300px;
  margin-top: -10%;
  margin-left: -5%;
}

#Stamp2 {
  width: 400px;
  height: 400px;
  margin-bottom: -200px;
}

.LessPointElem {
  width: 190px;
  height: 190px;
  align-self: center;
  margin-top: -100px;
  margin-left: -87px;
}

.Star4Elem {
  align-self: baseline;
  margin-left: -96px;
  margin-top: -96px;
  width: 190px;
  height: 190px;
}

.Diamond{
  position: relative;
  align-self: baseline;
  margin-right: -96px;
  margin-top: -96px;
  width: 220px;
  height: 220px;
}

.MorePoint {
  transform: rotate(100deg);
  align-self: baseline;
  width: 400px;
  height: 400px;
  margin-top: -150px;
}

.Star{
  width: 400px;
  height: 400px;
  transform: rotate(100deg);
  align-self: center;
}

.FatStar{
  transform: rotate(100deg);
  width: 400px;
  height: 400px;
  margin-right: -500px;
  margin-top: -150px;
}
.Star3{
  transform: rotate(100deg);
  width: 400px;
  height: 400px;
  margin-right: -500px;
  margin-top: -200px;

}
.Circle {
  width: 400px;
  height: 400px;
  margin-right: -500px;
  transform: rotate(100deg);
  }
  
/* INTRO */
.Title {
  font-size: 50px;
  font-family: "Cubao";
  color: #000000;
}

#MainTitle{
  color: #d41343;
  font-size: 100px;
}

#MainTitleBayBay{
  margin-top: -100px;
  font-size: 100px;
}


.BaybayinTitle {
  font-size: 50px;
  font-family: "Matatas One";
  margin-top: -50px;
  color: #000000;
}

.MainCont{

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 5%;
  border-bottom: 5px solid #000000;
  padding-bottom: 5%;

}

.MainContDes {
  margin-top: -70px;
  display: flex;
  justify-content: space-evenly;

}


.ColorCont {
  display: flex;
  height: 400px;
  width: 500px;
  background-color: #d41343;
  box-shadow: 10px 10px #000000;
  border: 5px solid #000000;
  border-radius: 30px;
}

.InfoTxt{
  padding:50px;
  padding-top:70px;
  padding-bottom:70px;
  color: #fffef9;
}

.ImgInfo {
  margin-top: -5px;
  margin-right: -4px;
  border: 5px solid #000000;
  border-radius: 30px;
  height: 400px;
  width: 200px;
  object-fit: cover;
}


/* MENU */
#MenuTitle {
  font-size: 100px;
}

#BaybayinTitleMenu { 
  margin-top: -90px;
  margin-bottom: 100px;
}

.MenuBGCont{ 
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: -2;
  background-image: linear-gradient(180deg, #f9c91a ,#ffae00);
}

.MenuMain1 {
  position: relative;
  z-index: -1;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}

.MenuCenter {
  gap:50px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DesMain {
  align-items: center;
  display: flex;
}

#TopMenu1 {
  margin-right: -85px;
}

#TopMenu2 {
  margin-left: -131px;
}

.MenuDown {
  align-self: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 200px;
}

.DownContMenu{
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 800px;
  background-color: white;
  box-shadow: 10px 10px #000000;
  border: 5px solid #000000;
  border-radius: 30px;
}

.MenuDownTitle {
margin: 20px;
}
.MenuDownCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.MenuDown2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.DrinkList {
  color:White;
}
#DrinkDown2 {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.MenuDownTitle {
  color: #d41343;
}

#DrinksTitle {
color: white;
}

#MenuDownTitle1 {
margin-top: 0%;
align-self: flex-start;
}

#MenuDownTitle2 {
  margin-top: 0%;
  align-self: flex-start;
  color: White;
}

#MenuDownDrink {
  display: flex;
  align-items: end;
  position: relative;
  z-index: -1;
  margin-left: -150px;
  background-color: #d41343;
  width: 600px;
}

/* +++++FIX FLEX DIRECTION + THE SHAPES POSITION HIERARCHY+++++ */
.ShapeSideMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin-left: -200px;
  white-space: nowrap;
  overflow: hidden;
}



.MenuTitle {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.MenuCont {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  height: 1000px;
  width: 700px;
  background-color: #ffffff;
  box-shadow: 10px 10px #000000;
  border: 5px solid #000000;
  border-radius: 30px;
}

.MenuContCard {
  align-items: center ;
  display: flex;
  height: 400px;
  width: 700px;
  border-radius: 30px;
}

.ImgMenu {
  background-color: #ffffff;
  box-shadow: 10px 10px #d41343;
  border: 5px solid #000000;
  margin-left: -150px;
  border-radius: 20px;
  height: 200px;
  width: 400px;
  transform: rotate(-10deg);
  object-fit: cover;
}

#ImgMenuRight {
  box-shadow: 10px 10px #823eff;
  transform: rotate(10deg);
  margin-left: 0px;
  margin-right: -150px;
}

.MenuTxt {
  padding:50px;
  padding-top:70px;
  padding-bottom:70px;
  color: #000000;
  
}

#cont1 {
background-color: #07aedb;
margin-right: -400px;
}
