nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.login-container {
    margin-left: auto;
    margin-bottom: auto;
}

.login {
    text-decoration: none;
    background-color: rgb(207, 183, 46);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login:hover {
    background-color: #383838;
}

.center-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
}

.center-links li {
    margin: 0 20px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.link:hover {
    background-color: #d41343;
}
