nav {
    display: flex;
    background-color: black;
    justify-content: center; /* Center the links */
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    position: relative; /* Allow positioning of the login button */
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    float: left;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
}

.link:hover {
    background-color: #d41343;
}

li {
    list-style-type: none;
    margin: 0 20px;
}

.login {
    float: left;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
}

.login:hover {
    background-color: #383838;
}
